img {
width: 300px;
height: 300px;
padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.about_text {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 35%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.header-section {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 28px;
    height: 100px;
}

h2{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}

h3{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}

.skills {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.text {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.link_header {
    padding-bottom: 40px;
    padding-top: 40px;
}

.text_short{
    margin-top:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}